[data-role="content"] {
    font-size:small;font-style:normal;color:red;text-shadow: none;
    
      
}
.ui-page .ui-content {
    background:black;
    background-image: url('luna.png');
    background-repeat: no-repeat;
}
}
[data-role="table"] {
    font-size:small;font-style:normal;color:red;text-shadow: none;