body {
    background-color:white;
    }
    #header {
        background-color:#898989;
        color:#ffffff;
        font-size:18pt;
        border:1px solid #0000000;
            }
            #navegacion_div {
            float:right;
            background-color: white;
            border:1px solid red;
            }
                #footer {
                    background-color:#898989;
                    color:#ffffff;
                    font-size: 12pt;
                    border:1px solid #000000;
                                        
                }
    